services:
  api:
    build: ./services/api
    command: gunicorn --bind 0.0.0.0:5000 app:app
    volumes:
      - ./services/api/:/usr/src/app/
    ports:
      - 50000:5000
    env_file:
    - ./.env.dev
    depends_on:
      - database
  database:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=travel_mas

volumes:
  postgres_data:
